:root {
  --primary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", bold;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
}

h3 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  color: #272142;
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  margin: 0%;
  padding: 160px 0;
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 15px 30px;
}

.row {
  padding: 20px;
}

.btn-branding {
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.project-description {
  padding: 120 60px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 38px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    text-align: center;
  }
}
